<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>錯誤登入</title>
    <style>
        * { margin:0px; padding:0px; }
        body { font-size:18px; }
        .topic{ text-align:center; background-color:skyblue; color:#000; padding-top:20px; padding-bottom:20px; width:100%; margin:10px auto; }
        .text p{ text-align:center; margin-top:10px; }
    </style>
</head> 
<body>
    <!-- 登入失敗 -->
    <div class="topic">
        <h3>失敗頁面</h3>
    </div>
    <div class="text">
        <p>帳號或密碼輸入錯誤</p>
    </div>    
</body>
</html>